* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    line-height: 24px;
    margin: auto;
}

header {
    width: 100%;
    background-color: darkgray;
    height: 100px;
}

header figure {
    height: 100%;
    padding: 10px 0;
    text-align: center;
}

header figure img {
    height: 80%;
}

.sandwich {
    display: none;
}

.menu ul {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu ul li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    color: rgb(55, 192, 255);
    border: 1px solid rgb(55, 192, 255);
    border-radius: 5px;
}

.menu a:hover {
    background-color: rgb(55, 192, 255);
    color: white;
}

.sandwich i {
    color: blue;
    margin: 2px;
    padding: 5px;
    border: 1px blue solid;
    border-radius: 5px;
}

.cont {
    height: 500px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgb(55, 192, 255);
    display: flex;
    flex-wrap: wrap;
}

.cont .texto {
    width: 50%;
}

.cont .texto {
    padding: 50px 0;
}

.cont .texto h3 {
    color: rgb(126, 63, 20);
    margin: 5px 0;
    font-size: 1.5em;
}

.cont .texto p {
    margin: 10px 0;
    text-align: justify;
}

.cont .texto a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: rgb(126, 63, 20);
    margin: 10px 0;
    padding: 5px 30px;
    border-radius: 5px;
}

.cont .texto a:hover {
    background-color: white;
    color: rgb(126, 63, 20);
    ;
    border: 1px solid rgb(126, 63, 20);
    ;
}

.cont figure {
    width: 50%;
    display: none;
}

.cont figure img {
    width: 100%;
    height: fit-content;
}

footer {
    height: 100px;
    background-color: rgb(35, 35, 80);
    color: white;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 1000px) {
    .sandwich {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .sandwich {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    .sandwich i {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menu ul {
        display: block;
    }

    .menu ul li {
        display: block;
    }

    .menu ul li a {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid;
    }

    .cont {
        height: fit-content;
    }

    .cont .texto {
        width: 100%;
        order: 2;
    }

    .cont figure {
        order: 1;
    }

    .cont figure {
        width: 100%;
    }

}